<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
  <div class="signin">
    <div class="back-img">
      <h2 class="active">Change Password</h2>
      <div class="sign-in-text">
        <h3 class="active">Update Your Password</h3>
      </div>
      <div class="layer">
      </div>
      <p class="point">&#9650;</p>
    </div>
    <div class="form-section">
      {% if error %}
      <p style="color:red">{{ error }}</p>
      {% endif %}
      {% if success %}
      <p style="color:green">{{ success }}</p>
      {% endif %}
      <form method="POST" action="{{ url_for('change_password') }}">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="current_password" name="current_password" required>
          <label class="mdl-textfield__label" for="current_password">Current Password</label>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input pattern=".{8,}" class="mdl-textfield__input" type="password" id="new_password" name="new_password" required>
          <label class="mdl-textfield__label" for="new_password">New Password</label>
          <span class="mdl-textfield__error">Minimum 8 characters</span>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input pattern=".{8,}" class="mdl-textfield__input" type="password" id="confirm_password" name="confirm_password" required>
          <label class="mdl-textfield__label" for="confirm_password">Confirm New Password</label>
          <span class="mdl-textfield__error">Minimum 8 characters</span>
        </div>
        <br/>
        <button type="submit" class="sign-in-btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">
          Change Password
        </button>
      </form>
      <br>
      <button onclick="window.location.href='/main'" class="register-btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised">
        Back to Main Page
      </button>
    </div>
  </div>
</body>
</html>
